<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Best Boys Allen Hostel in Landmark City Kota - Prabhat Residency</title>
        <meta name="description" content="Owner managed Boys hostel only 5 min walk from Allen Sangyan & Samyak building in Landmark city Kunhari Kota Rajasthan">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Modernizr Js -->
        <script src="js/modernizr-2.8.3.min.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11130974033"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'AW-11130974033');
        </script>
        <!-- Event snippet for Hostel Website Call Now conversion page
        In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
        <script>
        function gtag_report_conversion(url) {
          var callback = function () {
            if (typeof(url) != 'undefined') {
              window.location = url;
            }
          };
          gtag('event', 'conversion', {
              'send_to': 'AW-11130974033/tt7-CNKG8KUYENHe1Lsp',
              'event_callback': callback
          });
          return false;
        }
        </script>

        <!-- Normalize CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <!-- Main CSS -->
        <link rel="stylesheet" href="css/main.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- Icofont CSS-->
        <link rel="stylesheet" href="css/icofont.css">
        <!-- Font-awesome CSS-->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- bicon CSS-->
        <link rel="stylesheet" href="css/bicon.min.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link href="css/masterslider.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/custom.css">
        <style>
          .menu-header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
              background-color: rgba(255, 255, 255, 0.9);
          }
          .meanmenu-reveal {
              display: none; !important;
          }
          .mean-bar {
              width: 100%;
              z-index: 1000;
          }
          .mobile-call-btn {
              align-self: end;
              background-color: rgba(255, 255, 255, 0.9);
          }
        </style>

    </head>
    <body>
        <div id="wrapper" class="wrapper">
            <!-- Header Area Start Here -->
            <header>
                <div id="header-one" class="header header-layout1 header-fixed">
<!--                    <div class="header-top-area-dark header-top-bar">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-6 col-md-8 col-sm-7">-->
<!--                                    <ul class="top-bar-contact-layout1">-->
<!--                                        <li style="font-size:14px;"><i class="bi bi-phone" aria-hidden="true"></i><a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753">Call Now</a></li>-->
<!--                                        <li style="font-size:14px;"><i class="bi bi-envelop" aria-hidden="true"></i><a href="mailto:akhil18.mittal@gmail.com">akhil18.mittal@gmail.com</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="col-lg-6 col-md-4 col-sm-5">-->
<!--                                    <ul class="top-bar-social-layout1">-->
<!--                                        <li><a href="https://www.facebook.com/kota.boys.hostel.landmark.city/" title="facebook" target="_blank"><i style="font-size:16px;" class="fa fa-facebook"></i></a></li>-->
<!--                                        &lt;!&ndash;                            <li><a href="#" title="instagram"><i style="font-size:16px;" class="fa fa-instagram"></i></a></li>&ndash;&gt;-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="main-menu-area bg-light" id="sticker">
                        <div class="container">
                            <div class="row d-md-flex align-items-md-center">
                                <div class="col-lg-2 col-md-2">
                                    <div class="logo-area">
                                        <a href="#"><img src="img/prabhat_new_desktop_logo.png" alt="logo" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10">
                                    <nav id="dropdown">
                                        <ul class="text-uppercase text-right">
                                                <li style='font-size:14px;'>
                                                    <a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753" class="btn btn-outline-primary">
                                                        <i class='bi bi-phone' aria-hidden='true'></i>
                                                        Call Now
                                                    </a>
                                                </li>

<!--                                            <li><a href="{% url 'core:index">Home</a></li>-->
<!--                                            <li><a href="{% url 'core:about_us">About Us</a></li>-->
<!--                                            <li><a href="{% url 'core:food_menu">Food Menu</a></li>-->
<!--                                            <li><a href="{% url 'core:our_rooms">Rooms</a></li>-->
<!--                                            <li><a href="{% url 'core:gallery">Gallery</a></li>-->
<!--                                                <li><a href="{% url 'core:reviews">Reviews</a></li>-->
<!--                                            <li><a href="{% url 'core:contact">Contact Us</a></li>-->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header Area End Here -->
            <!-- Top Bar Space Start-->
            <div id="header-area-space"></div>
            <!-- Top Bar Space End-->
            <div id="masterslider" class="master-slider ms-skin-default">
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img data-src="img/gallery/Deluxe Single Room.jpg" alt="Allen Kota Boys Hostel"/>
                </div>
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img src="img/gallery/deluxe single room 2.jpg" alt="Boys Hostel in Landmark City Kota"/>
                </div>
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img src="img/gallery/deluxe_single_room.jpg" alt="Boys Hostel Near Allen Sangyan"/>
                </div>
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img src="img/gallery/deluxe double room 2.jpg" alt="Best Hostel in Landmark city Kunhari Kota"/>
                </div>
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img data-src="img/gallery/deluxe double room.jpg" alt="Room for students near Allen"/>
                </div>
                <div class="ms-slide" data-fill-mode="stretch">
                    <!-- slide background -->
                    <img data-src="img/gallery/prabhat_front_3.jpg" alt="Room for students near Allen"/>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <div class="section-space-less30" id="why-choose-us">
                <div class="container">
                    <div class="section-title-primary text-center">
                        <div class="welcome-title">
                            <h1 class="welcom-txt">Prabhat <span>Residency</span></h1>
                            <h2><small>Boys Hostel <span>Near Allen (Sangyan & Samyak Building)</span> Landmark city, Kunhari Kota (Rajasthan)</small></h2>
                        </div>
                    </div>
                    <div class="section-title-dark text-center">
                        <h2>Why <span>Choose Us?</span></h2>
                    </div>
                    <div class="row">
                        <!--service-block-one-->
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <!--icon-block-->
                                <div class="icon-box">
                                    <i class="bi bi-tick"></i>
                                </div>
                                <div>
                                    <h3 class="text-center">Allen Registered Hostel</h3>
                                    <p class="features-list-layout">
                                        <i class="fa fa-check-circle"></i>
                                        Prabhat Residency is registered & recommended by Allen Career Institute, Kota.
                                        <br>
                                        <i class="fa fa-check-circle"></i>
                                        Allen Hostel Sais ID: 1321.
                                        <br>
                                        <i class="fa fa-check-circle"></i>
                                        We maintain high security % hygiene standards to ensure safety of student
                                        <br>
                                        <i class="fa fa-check-circle"></i>
                                        FSSAI (Govt.) approved Mess Food License.
                                        <br>
                                        <i class="fa fa-check-circle"></i>
                                        We strictly follow all Covid-19 guidelines provided by Rajasthan government.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--service-block-one-->
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <!--icon-block-->
                                <div class="icon-box">
                                    <i class="bi bi-home"></i>
                                </div>
                                <div>
                                    <h3 class="text-center">Owner Guardianship</h3>
                                    <p class="features-list-layout">
                                        <i class="fa fa-check-circle"></i>
                                        Only hostel in Kota where owner lives exactly in-front of hostel.<br>
                                        <i class="fa fa-check-circle"></i>
                                        Owner herself take care of all the food cooking and hostel.  <br>
                                        <i class="fa fa-check-circle"></i>
                                        Instant medical assistance is provided in case of emergency.<br>
                                        <i class="fa fa-check-circle"></i>
                                        High Discipline level is maintained. <br>
                                        <i class="fa fa-check-circle"></i>
                                        Owner takes full guardianship of student.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--service-block-one-->
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <!--icon-block-->
                                <div class="icon-box">
                                    <i class="bi bi-location-pointer"></i>
                                </div>
                                <div>
                                    <h3 class="text-center">Only 4-min Walk from Allen</h3>
                                    <p class="features-list-layout">
                                        <i class="fa fa-check-circle"></i>
                                        2-minutes walk from Allen Samyak-2.<br>
                                        <i class="fa fa-check-circle"></i>
                                        2-minutes walk from Allen Sangyan-2.<br>
                                        <i class="fa fa-check-circle"></i>
                                        2-minutes walk from Allen Sangyan.<br>
                                        <i class="fa fa-check-circle"></i>
                                        4-minutes walk from Allen Samyak.<br>
                                        <i class="fa fa-check-circle"></i>
                                        1 minutes (100m) walk from Hospital.<br>
                                        <i class="fa fa-check-circle"></i>
                                        1 minutes (100m) walk from Chaupati & ATM.<br>
                                        <i class="fa fa-check-circle"></i>
                                        1.5km from Nayapura Bus Stand.<br>
                                        <i class="fa fa-check-circle"></i>
                                        8km from Kota Railway Station.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--            <div class="row">-->
                    <!--                <div class="col-md-12 col-sm-12 col-xs-12">-->
                    <!--                    <div class="process-content-layout1">-->
                    <!--                        <p>-->
                    <!--                            Prabhat Residency is a luxury boys hostel located in kunhari near Allen Career Institute,-->
                    <!--                            Landmark city Kota, Rajasthan.<br>Prabhat residency is a multi-story property having 65-->
                    <!--                            modern air conditioned rooms equipped with table/chair, wardrobe, bookshelf, ventilation &-->
                    <!--                            attach bath. The rooms are specifically designed for student preparing for NEET in Allen-->
                    <!--                            Kota.Managed directly by owners, this accommodation provides high quality meals including-->
                    <!--                            breakfast, lunch, evening snacks and dinner. This rental stay has in house kitchen &-->
                    <!--                            spacious dining area.<br>-->
                    <!--                        </p>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-4">-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;24*7 Warden & Guard-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Immediate medical assistance-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Bio-metric-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;CCTV-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-4">-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Power Backup-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;R.O. drinking water-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Lift-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Laundry-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-4">-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Parents Room-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Housekeeping-->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Best Feature : --->
                    <!--                        <br><i class="fa fa-check-circle"></i>&nbsp;Owner residence in front of hostel.-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--            </div>-->
                </div>
            </div>
            <!-- About Progress Area End Here -->
            <!--    <div class="welcome-section-two">-->
            <!--    	<div class="auto-container">-->
            <!--        	<div class="row clearfix">-->
            <!--welcome-column-->
            <!--            	<div class="form-column col-md-6 col-sm-12 col-xs-12">-->
            <!--inner-content-->
            <!--                    <div class="inner-column">-->
            <!--                    	<div class="title-box">-->
            <!--                        	<h3>Best Boys Hostel in Landmark City</h3>-->
            <!--                            <p style="color:#fff; font-size:13px;">Want to know what makes us best boys hostel?</p>-->
            <!--                          <p style="color:#fff; font-size:13px;">Visit us & Experience it yourself. Fill this Form or Call us Direclty.</p>-->
            <!--                        </div>-->
            <!--                        <div class="register-form">-->
            <!--                        	<div class="icon-box">-->
            <!--                            	<span class="fa fa-send-o"></span>                            </div>-->
            <!-- Register Form -->
            <!--                            <div class="rejister-form">-->
            <!--Contact Form-->
            <!--                                <form method="post" action="">-->
            <!--                                    <div class="form-group">-->
            <!--                                        <input type="text" name="username" placeholder="Name" required>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <input type="email" name="email" placeholder="Email" required>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <input type="text" name="phone" placeholder="Phone" required>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <input type="text" name="institute" placeholder="Institute(if applied)">-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <input type="text" name="city" placeholder="City" required>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <button class="btn-primary-fill-ghost" type="submit" name="Submit_Form">Send Now</button>-->
            <!--                                    </div>-->
            <!--                                </form>-->
            <!--                            </div>-->
            <!--End Register Form -->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--              </div>-->
            <!--service-column-->
            <!--                <div class="col-md-12 col-sm-12 col-xs-12 service-column">-->
            <!--                    <div class="section-title-dark text-center">-->
            <!--                        <h2>Why <span>choose us?</span></h2>-->
            <!--                    </div>-->
            <!--service-block-one-->
            <!--                    <div class="col-md-4 col-sm-4">-->
            <!--                        <div class="features3-wrp-layout1 pr-0">-->
            <!--icon-block-->
            <!--                            <div class="icon-box">-->
            <!--                                <i class="bi bi-tick"></i>-->
            <!--                            </div>-->
            <!--                            <div class="content-box">-->
            <!--                                <h3 class="text-center">Allen Registered Hostel</h3>-->
            <!--                                <p><i class="fa fa-check-circle"></i>&nbsp;Prabhat Residency is well recognized by Allen Institute Kota (A.S.W.S.).<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;Allen Hostel Sais ID: 1321.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;FSSAI (Govt.) approved Mess Food License.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;We strictly follow all hostel guidelines provided by District Collectrate.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--service-block-one-->
            <!--                	<div class="col-md-4 col-sm-4">-->
            <!--                        <div class="features3-wrp-layout1">-->
            <!--icon-block-->
            <!--                            <div class="icon-box">-->
            <!--                                <i class="bi bi-home"></i>-->
            <!--                            </div>-->
            <!--                            <div class="content-box">-->
            <!--                                <h3 class="text-center">Owner Guardianship</h3>-->
            <!--                                <p><i class="fa fa-check-circle"></i>&nbsp;Owner residence is in front of hostel.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;Owner is available 24*7 in emergency.  <br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;Instant medical assistance is provided.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;Mess Food daily checked by owner. <br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;High Discipline level is maintained. <br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;All staff under direct supervision of owner.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;Personal care & attention is given to each student.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--service-block-one-->
            <!--                    <div class="col-md-4 col-sm-4">-->
            <!--                        <div class="features3-wrp-layout1 pr-0">-->
            <!--icon-block-->
            <!--                            <div class="icon-box">-->
            <!--                                <i class="bi bi-location-pointer"></i>-->
            <!--                            </div>-->
            <!--                            <div class="content-box">-->
            <!--                                <h3 class="text-center">Hostel Near Allen</h3>-->
            <!--                                <p><i class="fa fa-check-circle"></i>&nbsp;10 min.(500m) walk from Allen Samyak.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;5 min.(300m) walk from Allen Sangyan.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;10 min.(500m) walk from Shri Hari Hospital.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;2 min.(100m) walk from General store &amp; ATM.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;20 min.(1.5km) walk from Nayapura Bus Stand.<br>-->
            <!--                                <i class="fa fa-check-circle"></i>&nbsp;30 min.(8km) away from Kota Railway Station.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <div class="section-space-less30">
                <div class="container">
                    <div class="section-title-dark text-center" id="rooms-section">
                        <h2>Room <span>Categories</span></h2>
                        <!--                <p>-->
                        <!--                    Our Hostel has 55 Single Rooms & 10 Double Rooms. We provide comfortable accommodation tastefully-->
                        <!--                    decorated, clean and well maintained stays and offers all modern amenities. We understand your needs-->
                        <!--                    & requirements.-->
                        <!--                </p>-->
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="blog-wrp-layout1">
                                <div class="image-box">
                                    <img src="img/gallery/Deluxe Single Room.jpg" alt="Single Room with Balcony Window">
                                </div>
                                <div class="content-box text-center">
                                    <h2>
                                        <a>
                                        Deluxe Single Room with Window
                                        </a>
                                    </h2>
                                    <p style="text-align:justify; padding:15px;font-size:14px;font-weight:500;">
                                        <span style="color:#fc721e;font-weight:600;">Every room contains:</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;<span style="font-weight:600;">Size: minimum 100 sq.ft.</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;AC, Geyser<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Cross ventilation<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Table, Chair, Wardrobe, Book shelf<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Single Bed with mattress and bedsheet<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Bucket with Mug
                                    </p>
                                    <a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753" class="btn btn-outline-primary">
                                    <i class="bi bi-phone" aria-hidden="true"></i>
                                    Call Now For Rent
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-wrp-layout1">
                                <div class="image-box">
                                    <img src="img/gallery/deluxe single room 1.jpg" alt="Single Room">
                                </div>
                                <div class="content-box text-center">
                                    <h2><a>Standard Single Room</a></h2>
                                    <p style="text-align:justify; padding:15px;font-size:14px;font-weight:500;">
                                        <span style="color:#fc721e;font-weight:600;">Every room contains:</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;<span style="font-weight:600;">Size: minimum 85 sq.ft.</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;AC, Geyser<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Cross ventilation<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Table, Chair, Wardrobe, Book shelf<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Single Bed with mattress and bedsheet<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Attached Bathroom with Bucket & Mug
                                    </p>
                                    <a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753" class="btn btn-outline-primary">
                                    <i class="bi bi-phone" aria-hidden="true"></i>
                                    Call Now For Rent
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-wrp-layout1">
                                <div class="image-box">
                                    <img src="img/gallery/deluxe double room.jpg" alt="Deluxe Double Room with Window">
                                </div>
                                <div class="content-box text-center">
                                    <h2><a>Deluxe Double Room with Window</a></h2>
                                    <p style="text-align:justify; padding:15px;font-size:14px;font-weight:500;">
                                        <span style="color:#fc721e;font-weight:600;">Every room contains:</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;<span style="font-weight:600;">Size: minimum 120 sq.ft.</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;AC, Geyser<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Cross ventilation<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;2 Table, Chair, Wardrobe, Book shelf<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;2 Single Bed with mattress & bedsheet<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Attached Bathroom with Bucket & Mug
                                    </p>
                                    <a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753" class="btn btn-outline-primary">
                                    <i class="bi bi-phone" aria-hidden="true"></i>
                                    Call Now For Rent
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-wrp-layout1">
                                <div class="image-box">
                                    <img src="img/gallery/deluxe double room 2.jpg" alt="Standard Double Room">
                                </div>
                                <div class="content-box text-center">
                                    <h2><a>Standard Double Room</a></h2>
                                    <p style="text-align:justify; padding:15px;font-size:14px;font-weight:500;">
                                        <span style="color:#fc721e;font-weight:600;">Every room contains:</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;<span style="font-weight:600;">Size: minimum 120 sq.ft.</span><br>
                                        <i class="fa fa-check-circle"></i>&nbsp;AC, Geyser<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Cross ventilation<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;2 Table, Chair, Wardrobe, Book shelf<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;2 Single Bed with mattress & bedsheet<br>
                                        <i class="fa fa-check-circle"></i>&nbsp;Attached Bathroom with Bucket & Mug
                                    </p>
                                    <a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753" class="btn btn-outline-primary">
                                    <i class="bi bi-phone" aria-hidden="true"></i>
                                    Call Now For Rent
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--                <div class="col-md-4">-->
                        <!--                    <div class="blog-wrp-layout1">-->
                        <!--                        <div class="image-box">-->
                        <!--                            <img src="img/gallery/double_room_kitchen.jpg" alt="Deluxe Double Room with Kitchen (PG)">-->
                        <!--                        </div>-->
                        <!--                        <div class="content-box text-center">-->
                        <!--                            <h2><a>Deluxe Double Room with Kitchen (PG)</a></h2>-->
                        <!--                            <p style="text-align:justify; padding:15px;font-size:14px;font-weight:500;">-->
                        <!--                           	    <span style="color:#fc721e;font-weight:600;">Every room contains:</span><br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;<span style="font-weight:600;">Size: minimum 150 sq.ft.</span><br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;AC, Geyser<br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;Cross ventilation<br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;Table, Chair, Wardrobe, Book shelf<br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;2 Single Bed with mattress & bedsheet<br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;Attached Bathroom with Bucket & Mug<br>-->
                        <!--                                <i class="fa fa-check-circle"></i>&nbsp;Attached Kitchen with Fridge & Cylinder<br>-->
                        <!--              				</p>-->
                        <!--                            <a href="tel:+917023415753" class="btn btn-outline-primary">-->
                        <!--                                <i class="bi bi-phone" aria-hidden="true"></i>-->
                        <!--                                Call Now For Rent-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <!--                </div>-->
                    </div>
                </div>
            </div>
            <!-- Blog Area End Here -->
            <div class="section-space-less30 bg-gray4" id="what-do-we-offer">
                <div class="container">
                    <div class="section-title-dark text-center">
                        <h2>What Do <span>We Offer?</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-heart-beat"></i>
                                </div>
                                <div class="content-box">
                                    <h2>Covid-19 Protocols</h2>
                                    <p>
                                        All hostel staff is vaccinated.
                                        <br> No Mask No Entry in hostel premises.
                                        <br> Thermal Scanning and Sanitizer on entrance.
                                        <br> Common areas are sanitized regularly.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-safety-kit"></i>
                                </div>
                                <div class="content-box">
                                    <h2>Medical Aid</h2>
                                    <p>First Aid Kit is available at reception 24*7.
                                        <br> In medical emergency, immediate assistance will be provided by the owner.
                                        <br> Doctor on call facility is also provided.
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-cheese"></i>
                                </div>
                                <div class="content-box">
                                    <h2>In-house Mess</h2>
                                    <p>Experienced Chef and cooking staff.
                                        <br> High quality raw food material used in cooking.
                                        <br>365 days hostel mess is open.
                                        <br> Large variety of food menu available.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-shield"></i>
                                </div>
                                <div class="content-box">
                                    <h2>Security System</h2>
                                    <p>24*7 Warden & Security Guard.
                                        <br> 24*7 CCTV surveillance.
                                        <br> Biometric Attendance.
                                        <br> Daily Night Attendance.
                                        <br> Strict In-timings at 9pm.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-hand-watch"></i>
                                </div>
                                <div class="content-box">
                                    <h2>Emergency Aid</h2>
                                    <p>In case of fire, theft, electicity/water failure etc. the staff in charge & owner has all
                                        the contact numbers of concerned authorities.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="features3-wrp-layout1">
                                <div class="icon-box">
                                    <i class="bi bi-office-bag"></i>
                                </div>
                                <div class="content-box">
                                    <h2>Students Guidance</h2>
                                    <p>
                                        Hostel owner & managing staff are 24*7 available for the students to help them, guide
                                        them & motivate them.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Area End Here -->
            <div class="section-space-default bg-gray4">
                <div class="container">
                    <div class="section-title-primary text-center">
                        <h2>Testimonials</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="plumber-carousel nav-control-middle3" data-loop="true" data-items="5" data-margin="0" data-autoplay="true" data-autoplay-timeout="4000" data-smart-speed="500" data-dots="false" data-nav="false" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="2" data-r-large-nav="true" data-r-large-dots="false">
                                <div class="feedback-review-layout1 shadow-equal2">
                                    <div class="media">
                                        <div class="media-body">
                                            <h3 class="media-heading">Ashish Sharama</h3>
                                            <span>Allen Leader Student</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Allen Sangyan is only 5 min walking distance from here. Food is good here. Environment here is very peaceful for study unlike landmark city hostels. </p>
                                    </div>
                                </div>
                                <div class="feedback-review-layout1 shadow-equal2">
                                    <div class="media">
                                        <div class="media-body">
                                            <h3 class="media-heading">Manish Jain</h3>
                                            <span>Allen Nurture Student</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Food is awesome here. Hostel owner aunty herself take care of all the food cooking and hostel. Rooms are good and well maintained. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="section-title-primary">
                                <h3>Share your Review</h3>
                            </div>
                            <div class="contact-info-layout3 shadow-equal">
                                <form id="" method="post" action="">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control top-input" id="name" name="name" placeholder="Your Name" data-error="Name field is required" required="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control top-input" id="email" name="email" placeholder="Your Email address" data-error="Email field is required" required="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control message-box" id="message" name="message" placeholder="Your Message" data-error="Message field is required" required=""></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="btn-primary-fill-ghost" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class='form-response'></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area End Here -->
            <!-- Footer Area Start Here -->
            <footer>
                <div class="footer-area-top accent-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <h3 class="title-bar-footer">About</h3>
                                <p>Prabhat Residency is a premium boys hostel near Allen Kota. Open since 2016, Prabhat Residency has accommodated only medical student preparing for NEET in Allen Career Institute in landmark city Kota. It is the only hostel in Kota near Allen where hostel owner lives exactly in front of hostel. </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-footer">Contact Us</h3>
                                    <ul class="corporate-address">
                                        <li>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <p><a onclick="return gtag_report_conversion('tel:+917023415753');" href="tel:+917023415753">Phone: 7023415753</a></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <p>akhil18.mittal@gmail.com</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <p>2-F-16, RAJASTHAN HOUSING BOARD COLONY,</p>
                                            <p>KUNHARI, KOTA, RAJASTHAN, INDIA - 324008</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
<!--                                <div class="footer-box">-->
<!--                                    <h3 class="title-bar-footer">Quick Links</h3>-->
<!--                                    <ul class="useful-links">-->
<!--                                        <li>-->
<!--                                            <ul>-->
<!--                                                <li><a href="{% url 'core:about_us">About Us</a></li>-->
<!--                                                <li><a href="{% url 'core:food_menu">Food Menu</a></li>-->
<!--                                                &lt;!&ndash;                                        <li><a href="{% url 'core:gallery">Gallery</a></li>&ndash;&gt;-->
<!--                                                <li><a href="{% url 'core:contact">Contact Us</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="footer-area-bottom accent-bg-light">
                    <div class="container">
                        <p>&copy; <?php echo date('Y');?> <span>Prabhat Residency</span>. All rights reserved<br /><span style="font-size:12px;">Website by <a href="http://webmaverick.in/" style="color: #fc721e; text-decoration:none;" target="_blank">WebMaverick</a></span></p>
                    </div>
                </div>
            </footer>
            <!-- Footer Area End Here -->
            <script src="js/jquery-2.2.4.min.js"></script>
            <!-- Plugins js -->
            <script src="js/plugins.js"></script>
            <!-- Bootstrap js -->
            <script src="js/bootstrap.min.js"></script>
            <!-- WOW JS -->
            <script src="js/wow.min.js"></script>
            <!-- Meanmenu Js -->
            <script src="js/jquery.meanmenu.min.js"></script>
            <!-- Srollup js -->
            <script src="js/jquery.scrollUp.min.js"></script>
            <!-- jquery.counterup js -->
            <script src="js/jquery.counterup.min.js"></script>
            <script src="js/waypoints.min.js"></script>
            <!-- Isotope js -->
            <script src="js/isotope.pkgd.min.js"></script>
            <!-- Magic Popup js -->
            <!-- Custom Js -->
            <script src="js/main.js"></script>
            <script src="js/masterslider.min.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                'use strict';
                    var slider = new MasterSlider();
                    slider.setup('masterslider', {
                        width: 1120, // slider standard width
                        height: 730, // slider standard height
                        space: 0,
                        speed: 20,
                        autoHeight      : false,
                        layout          : "fullwidth",
                        smoothHeight    : true,
                        centerControls: false,
                        loop: true,
                        keyboard : true,
                        autoplay: true
                    });
                    slider.control('arrows');
                });
            </script>
        </div>
    </body>
</html>
